@charset "UTF-8";

*{
	margin:0;
	box-sizing: border-box;
}

h1{
	text-align: center;
	color:green;
	margin-bottom:3%;
}
#conteneur{
	width:100%;
	
	background: linear-gradient(to bottom, rgba(234,239,181,0.2) 0%,rgba(76,52,66,0.5) 100%);
	 text-align: center;
	
}

h2{
	margin-top:3%;
	text-align: center;
	color:green;
	margin-bottom:3%;
}
img {
border :2px solid gray;
	width:310px;
	height:300px;
	margin:0 auto;
display:block;	
}

p{padding-top:12px;}

a{
	width:90%;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
}